body {
    margin: 0;
    font-family: Lato;
    background: #FDFDFD;
    color: #2E4053;
}
h1, h2 {
    font-family: Playfair Display;
    color: #3498DB;
}
a {
    color: #F4D03F;
}
section {
    padding: 3rem;
}